

<!doctype html>
<html lang="en">

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>


      

      body {
          background-image: url('../resources/backgrounds/drlib.jpg');
      
          background-attachment: fixed;
          background-size: cover;
        }






    </style>


<link rel="stylesheet" href="../resources/progresources/globalcss.css">






</head>




  

<body>


  {% include "partials/dreamheader.njk" %}



  {% include "partials/dreamaudio.njk" %}


  <div class="parentboxcenter">

    <div class="headstyle">
    


<button onclick="gotoprevindex(0)">Dream0</button>
<button onclick="gotoprevindex(1)">Dream1</button>
<button onclick="gotoprevindex(2)">Dream2</button>
<button onclick="gotoprevindex(3)">Dream3</button>
<button onclick="gotoprevindex(4)">Dream4</button>
<button onclick="gotoprevindex(5)">Dream5</button>
<button onclick="gotoprevindex(6)">Dream6</button>
<button onclick="gotoprevindex(7)">Dream7</button>

 

    </div>
  </div>



 

</body>
</html>