

<!doctype html>
<html lang="en">

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>


      

      body {
          background-image: url('../resources/backgrounds/drlib.jpg');
      
          background-attachment: fixed;
          background-size: cover;
        }






    </style>


<link rel="stylesheet" href="../resources/progresources/globalcss.css">






</head>




  

<body>


  {% include "partials/dreamheader.njk" %}



  {% include "partials/dreamaudio.njk" %}


  <div class="parentboxcenter">

    <div class="headstyle">


    


        <button onclick="navdreams(0)">Dream0</button>
        <button onclick="navdreams(1)">Dream1</button>
        <button onclick="navdreams(2)">Dream2</button>
        <button onclick="navdreams(3)">Dream3</button>
        <button onclick="navdreams(4)">Dream4</button>
        <button onclick="navdreams(5)">Dream5</button>
        <button onclick="navdreams(6)">Dream6</button>
        <button onclick="navdreams(7)">Dream7</button>

 

    </div>
  </div>


  {% assign index = -1 %}

  {% include "partials/dreamfooter.njk" %}



 

</body>
</html>