

<!doctype html>
<html lang="en">

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>




      

      body {
          background-image: url('../resources/backgrounds/aunt.jpeg');
      
          background-attachment: fixed;
          background-size: cover;
        }





    </style>


<link rel="stylesheet" href="../resources/progresources/globalcss.css">





</head>




  

<body>

  
  {% include "partials/dreamheader.njk" %}




  {% include "partials/dreamaudio.njk" %}
  


 

  <div class="parentboxcenter">
  
    <div class="childtextbox">
    <p class="betterp">

    Had a dream where me and a friend were scamming a restaurant. He got a job at the restaurant and I would purposely 
     seek him out to be my waiter, then I would order a singular french-fry and then complain about it, too soggy or something, 
     then he would be like, oh I'm so sorry let me get you something for compensation and he would just start giving me bags upon 
     bags of food, and we would both leave that day with a fuck ton of food lol


</p>
  </div>
 </div>   









 <div class="parentboxcenter">

  <div class="headstyle">
    
   
 
  
       <button onclick="gotoprevindex(4)">Prev dream</button>
       <button onclick="gotonextindex(4)">Next dream</button>

       
   
       
   
   </div>
   </div>
   




 

   {% include "partials/dreamfooter.njk" %}
</body>
</html>