---
title: dream02
date: 2024-03-28
description: New dream in my world of dreams...
tags: dreampost
---

<!doctype html>
<html lang="en">

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>


      body {
          background-image: url('../resources/backgrounds/stocky.jpg');
      
          background-attachment: fixed;
          background-size: cover;
        }



    </style>



<link rel="stylesheet" href="../resources/progresources/globalcss.css">





</head>




  

<body>

  
  {% include "partials/dreamheader.njk" %}


  
 


  {% include "partials/dreamaudio.njk" %}

      
 



  <div class="parentboxcenter">
  
    <div class="childtextbox">
    <p class="betterp">
   
  I had a dream that instead of a paper towel dispenser there was a drink cover dispenser in the bathroom and I grabbed 
  it instead by reflex and dried my hands on it. 

 
 




</p>
  </div>
 </div>   




 
 {% assign index = 2 %}
 {% assign goption = 2 %}



 

  
 {% include "partials/dreamfooter.njk" %}

</body>
</html>