---
title: HOW TO BECOME A LIVING GOD AT ALPHABETICAL ORGANIZATION!
date: 2025-04-04
description: pretty self explanitory, this covers a revolutionary method to sort things alphabetically USING YOUR MINDD!!!
tags: dreampost
---



<!doctype html>
<html lang="en">

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>


      

      body {
          background-image: url('../resources/backgrounds/techdoofus.jpg');
      
          background-attachment: fixed;
          background-size: cover;
        }






    </style>


<link rel="stylesheet" href="../resources/progresources/globalcss.css">






</head>




  

<body>


  {% include "partials/dreamheader.njk" %}



  {% include "partials/dreamaudio.njk" %}


  
  <div class="parentboxcenter">
  <div class="childtextbox">

   
      <h1>HOW TO BECOME A LIVING GOD AT ALPHABETICAL ORGANIZATION!!!</h1>


  </div>  
</div>  


<br><br>
  <div class="parentboxcenter">
  
    <div class="childtextbox">
    <p class="betterp">
      OH YEAH BABY DO YOU WANT TO LEARN HOW TO BECOME THE BEST MOTHERFUCKER AROUND AT SORTING THINGS BY ALPHABETICAL ORDER!?
      NO? WELL YOUURR GONNA LEARN TODAY! OH BOY!!

</p>
</div>



 </div>   
 

 <br><br>
  <div class="parentbox">
  


    <div class="childtextbox">

    <p class="betterp">
      Now typically when we are all little wee baaby people, they teach us the way remember the alphabet with a nice little 
      song which allows allows said baaby people to access each letter of the alphabet sequentially. HOWEVER! This system 
      is incredibly flawed because it leaves people unable to recognize the exact ordering of letters without mentally
      singing the alphabet everytime they want to sort something. 

      BUT WHAT IF IT DOESNT HAVE TO BE THIS WAY?! I AM GOING TO SHARE WITH YOU A FANTASTIC METHOD THAT I'VE DEVELOPED WHICH 
      HAS EFFECTIVELY TURNED ME INTO SOME GENIUS ALPHABETICAL TOP DOG ALPHA LETTER LORD!!!

</p>

</div>





<div>
    
  <img src="../resources/images/imblue.PNG" class="indicator2"> </img>

  <div class="childtextbox">
    <p>Fig.1 some stupid ass babby</p>
    <div>

  </div>  



 </div>   


</div>



 

  </div>


  <br><br>
  <div class="parentboxcenter">
    <div class="childtextbox">
  
     
        <h1> MEET THE LOCI METHOD!</h1>
  
        
  
    </div>  
  </div>  
  

  <br><br>
<div class="parentbox">

  <div>
    
    <img src="../resources/images/640px-M-T-Cicero.jpg" class="indicator2"> </img>
  
    <div class="childtextbox">
      <p>Fig.2 alfred loci, circa 19whatever </p>
      <div>
  
    </div>  
  
  
  
   </div>   
  
  
  </div>

  
<div>
  <br><br>
  <div class="childtextbox">

    <p class="betterp">
     
      The loci method is a method of memorization which involves mentally visualizing a location along with anything 
      that you are trying to memorize. As you try to memorize more items, you should imagine more of this mental location, 
      so that each item has a unique placement within it. By doing so, you are utilizing a part of your brain called the 
      hippocampus, which is reponsible for remembering the layout of physical locations. Unless you suffer from the condition called <a href="https://en.wikipedia.org/wiki/Aphantasia">Aphantasia</a>, 
      this technique can be used to not only memorize large quantities of data, but it can also be used to help visualize the order in which
      items are arranged. 

</p>




</div>
</div>




  


</div>






<div class="parentboxcenter">
  <div class="childtextbox">

   
      <h1> HOW?!?!? </h1>

      

  </div>  
</div>  


<br>

<div class="parentboxcenter">
 
    <div class="childtextbox">

      <p class="betterp">
        Simple my child, the answer lay within the humble 3x3 grid. 
  
  </p>

    </div>
  

  
</div>  

<br>


<div class="parentboxcenter">

<img src="../resources/images/simplegrid1.png" class="indicator2"> </img>


<div> 
<div class="childtextbox">
  <p class="betterp"> 
    Take a look at this grid, pretty nice right? Now, close your eyes and try to visualize the 
    shape of this grid. Got it? Good. Now what we are going to do next will be a liiitle harder. 
    I want you to try to visualize the first three letters of the alphabet in the grid. 
    It should look a little likeeee 

  </p>

</div>
</div>

</div>


<br>
<div class="parentboxcenter">

  <img src="../resources/images/simplegrid2.png" class="indicator2"> </img>
  
  
  <div> 
  <div class="childtextbox">
    <p class="betterp"> 
      THIS! Try to get a good feel for how the letters look visually in your head, dont 
      just memorize the items as facts but as pictures like you would when you read a book. 
  
    </p>
  
  </div>
  </div>
  
  </div>
  

  <br>
<div class="parentboxcenter">

  <img src="../resources/images/simplegrid3.png" class="indicator2"> </img>
  
  
  <div> 
  <div class="childtextbox">
    <p class="betterp"> 
     Next, try filling out the entire grid. Now depending on your memory, this process may take a little longer. 
     I recommend making it a habit to just visualize the letters in their respective locations whenever you are 
     just waiting for something, like sitting in traffic or waiting for someone boring to stop talking. 

     After you have the first grid down, progress to the next two grids and then you will become a certified 
     alphabet freak bro!
    </p>
  
  </div>


  </div>
  
  </div>



  <br><br>
  <div class="parentboxcenter">

    <div class="childtextbox">
  
     
        <h1> WHY?? </h1>
  
    </div>  
    


  </div>  
  

  
  <br><br>
<div class="parentbox">

  <div>
    
    <img src="../resources/images/whatdahell.png" class="indicator2"> </img>
  
    <div class="childtextbox">
      <p>Fig.3 you rn probably </p>
      <div>
  
    </div>  
  
  
  
   </div>   
  
  
  </div>

  
<div>
  <br><br>
  <div class="childtextbox">

 

    <p class="betterp">
     
      WHY THE HELL WOULD I DO THIS? WHY WASTE MY TIME GOD DAMN ON SOMETHING SO STUPID AS THIS? 
      I FEEL STUPID THINKING ABOUT LETTERS ALL THE TIME!
      calm down man, i've got a real, genuine use case for this system. A few summers ago I used this VERY system to help 
      me sort amazon packages by last name so that I could deliver shit faster. This was the equilivant of the hindenburg disaster
      for keeping my ego in check however and I've been feeling very smug about myself ever since.  
 
</p>




</div>
</div>




  


</div>

  
  
  


 {% assign index = 0 %}
 {% assign goption = 3 %}

 <br><br><br><br><br><br>

 {% include "partials/dreamfooter.njk" %}

 

</body>
</html>