
<!doctype html>
<html lang="en">

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>


      

      body {
          background-image: url('../resources/backgrounds/drlib.jpg');
      
          background-attachment: fixed;
          background-size: cover;
        }






    </style>


<link rel="stylesheet" href="../resources/progresources/globalcss.css">






</head>




  

<body>

  
  {% assign index = -1 %}
  {% assign goption = 3 %}


  {% include "partials/dreamheader.njk" %}



  {% include "partials/dreamaudio.njk" %}


  <div class="parentboxcenter">

    <div class="headstyle">


    


        <button onclick="navdreams(0)">blogpost0</button>
        <button onclick="navdreams(1)">blogpost1</button>


 

    </div>
  </div>



  {% include "partials/dreamfooter.njk" %}



 

</body>
</html>