

<!doctype html>
<html lang="en">
  <head>
    {% include "partials/headhead.njk" %}
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
     content="Hey! This is a little blog where I put my art, music, dreams and journal entries!! Come on in the water's just right! ">
    <title>Home</title>
    
    <style>

body {
          background-image: url("./resources/backgrounds/bear.jpg");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }


    </style>

    <link rel="stylesheet" href="./resources/progresources/globalcss.css">

</head>




  


<body>


  
    {% assign hello = 2 %}





    <audio id="bg" loop>
        <source src="./resources/audio/This Must Be the Place (Naive Melody) (2005 Remaster) 4 (1).mp3" type="audio/mpeg">
      </audio>
      









<div class="parentboxcenter">
    <div class="childtextbox">
<h1 >Content not found bro...</h1>
</div>
</div>

<div class="parentboxcenter">
<video width="1000" height="1000" autoplay loop id="bgm">
    <source src="./resources/video/Hermeto Pascoal - Música da Lagoa (Sinfonia do Alto Ribeira, 1985).mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  </div>

  <div class="parentboxcenter">
    <a href="index.html"style="color: white">back to index</a>
</div>

{% include "partials/footer.njk" %}




</body>
</html>

