

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>







body {
          background-image: url('./resources/backgrounds/spacedout.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }



    </style>


<link rel="stylesheet" href="./resources/progresources/globalcss.css">



</head>




  
<body>




  {% include "partials/header.njk" %}
    



  <audio id="bgm" loop>
    <source src="./resources/audio/Captain Beefheart - Frownland 4.mp3" type="audio/mpeg">
  </audio>
  
  




  
  <audio id="postmusicclick">
  <source src="./resources/onclickaudio/screaming-soldier-tf2reverse.mp3" type="audio/mpeg">
  </audio>
  

 

  <div class="parentbox">


    <div>
          
      <img src="./resources/images/fire46.gif" class="indicator2"> </img>
  
    </div>
  
    <div>
          
      <img src="./resources/images/fire46.gif" class="indicator2"> </img>
  
    </div>
  
    <div>
          
      <img src="./resources/images/fire46.gif" class="indicator2"> </img>
  
    </div>
  
    <div>
          
      <img src="./resources/images/fire46.gif" class="indicator2"> </img>
  
    </div>
     
       
   </div>
  
  



 <div class="parentbox">


  <div>
        
    <img src="./resources/images/kiddo.jpg" class="indicator2"> </img>

  </div>

  <div>
        
    <img src="./resources/images/malk.gif" class="indicator2"> </img>

  </div>

  <video width="640" height="360" autoplay loop muted>
    <source src="./resources/video/pussy.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  
   
     
 </div>


 <div class="parentbox">

  <img src="./resources/images/damn.jpg"> </img>



  <div style=" overflow: hidden; margin: 15px auto; max-width: 500px;">
    <iframe scrolling="yes" src="https://onesquareminesweeper.com/" style="border: 0px none; margin-left: -370px; height: 950px; margin-top: 0px; width: 926px;">
    </iframe>
    </div>

  </div>


 





 <div class="parentbox">


  <div>
        
    <img src="./resources/images/fire46.gif" class="indicator2"> </img>

  </div>

  <div>
        
    <img src="./resources/images/fire46.gif" class="indicator2"> </img>

  </div>

  <div>
        
    <img src="./resources/images/fire46.gif" class="indicator2"> </img>

  </div>

  <div>
        
    <img src="./resources/images/fire46.gif" class="indicator2"> </img>

  </div>
   
     
 </div>






   {% include "partials/footer.njk" %}

</body>
</html>

