

<!doctype html>
<html lang="en">
  <head>
    {% include "partials/headhead.njk" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    
    <style>






body {
          background-image: url('./resources/backgrounds/reddd.jpeg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }


    </style>

<link rel="stylesheet" href="./resources/progresources/globalcss.css">


</head>



  
<body>



    {% assign indi = -1 %}
   
    {% assign brcnt = 0 %}

    {% assign midcond = 1 %}

    {% assign swapper = 1 %}

    {% assign swappee = 3 %}


  {% include "partials/header.njk" %}
    

  <audio id="bgm" loop>
    <source src="./resources/audio/Balatro Theme 4.mp3" type="audio/mpeg">
  </audio>
  
  





<br><br>
<div class="bparentbox">

 

  <div class="bchildtextbox"  >
             
            
                                            
                                                  
                                            
                                            
    <div>
       <p class="betterp">
       Here is a chronologically ordered collection of my artwork, with
       my most recent work at the top. Clicking on any picture will bring 
       it to full screen view, and clicking the full screen image minimizes it again.

      uhhh and also sometimes the image is a little too big so you might need to zoom out w ctrl +/-
      sorry still working on it. 
      
      </p>
        </div>
       
       
       

</div>
</div>





     
<div class="bparentbox">

    
  
        <div>
            <img src="./resources/photos/coldcurly.jpg" class="photolay" id="reptarget" onclick="off('reptarget')"></img>
             </div>


</div>


























        


{% for post in artpaths %}
{% assign brcnt = brcnt | plus: 1 %}
{% assign midcond = 1 %}



<br><br><br>










{%- if brcnt == 1 -%}
{% assign midcond = 0 %}

<div class="bparentbox">





    <div class="bchildtextbox" style="height:auto" id="1">

        {% assign indi = indi | plus: 1 %}
      <a href="{{ post.path }}" target="new">
            <img src="{{ post.path }}" class="indicator3gal"></img>
        </a>

    </div>

{%- endif -%}














{%- if brcnt == swappee -%}
{% assign brcnt = 0 %}
{% assign midcond = 0 %}





{% assign swapper = swapper | times: -1 %}


{%- if swapper == 1 -%}
{% assign swappee = 3 %}



{%- else -%}
{% assign swappee = 2 %}


{%- endif -%}




<!-- this is end condition -->

 <div class="bchildtextbox"  id="1">

        {% assign indi = indi | plus: 1 %}
        <a href="{{ post.path }}" target="new">
            <img src="{{ post.path }}" class="indicator3gal"></img>
        </a>

        <div>
            
        </div>

    </div>


    




    </div>


  
    {%- endif -%}







{%- if midcond == 1 -%}

    <!-- this is cont condition -->

     <div class="bchildtextbox" id="1">

        {% assign indi = indi | plus: 1 %}
       <a href="{{ post.path }}" target="new">
            <img src="{{ post.path }}" class="indicator3gal"></img>
        </a>

       

    </div>

  {%- endif -%}








{% endfor %}
        

            

            











   
            <script>

              // THIS SECTION IS JUST FOR THE ON CLICK MAGNIFIER THING, you neeed
              // to put the other paths in the artpaths.json file in the data section.


            </script>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

   {% include "partials/footer.njk" %}


</body>
</html>
