

<!doctype html>
<html lang="en">
  <head>
    {% include "partials/headhead.njk" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    
    <style>






body {
          background-image: url('./resources/backgrounds/reddd.jpeg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }


    </style>

<link rel="stylesheet" href="./resources/progresources/globalcss.css">


</head>



  
<body>



    {% assign indi = -1 %}
   
    {% assign brcnt = 0 %}


  {% include "partials/header.njk" %}
    

  <audio id="bgm" loop>
    <source src="./resources/audio/Pulsewidth 4.mp3" type="audio/mpeg">
  </audio>
  
  





<br><br>
<div class="parentbox">

    <div class="parentbox">

        <div>
    <a href="https://piclog.blue/profile.php?id=1158"><img src="https://piclog.blue/latest.php?id=1158"> </a>
</div>


  
</div>


  <div class="childtextbox" style="height:150px" >
             
            
                                            
                                                  
                                            
                                            
    <div>
       <p class="betterp">
       Heres a bunch of random photos from my phone, clicking 
       on any picture will bring it to full screen view, and clicking 
       the expanded version closes the current pic.

       ← piclog to left
       </p> 
        </div>
       
       
       

</div>
</div>


     
<div class="parentbox">

    
  
        <div>
            <img src="./resources/photos/coldcurly.jpg" class="photolay" id="reptarget" onclick="off('reptarget')"></img>
             </div>


</div>


























{% for post in artpaths %}
{% assign brcnt = brcnt | plus: 1 %}




<br>
<br>








{%- if brcnt == 1 -%}


<div class="parentbox">





    <div class="childtextbox" style="height:200px" id="1">

        {% assign indi = indi | plus: 1 %}
        <div>
            <img src="{{ post.path }}" class="indicator2gal" onclick="repphotocontent1({{indi}})"></img>
        </div>

    </div>

{%- endif -%}














{%- if brcnt == 3 -%}
{% assign brcnt = 0 %}

<!-- this is end condition -->

 <div class="childtextbox" style="height:200px" id="1">

        {% assign indi = indi | plus: 1 %}
        <div>
            <img src="{{ post.path }}" class="indicator2gal" onclick="repphotocontent1({{indi}})"></img>
        </div>

        <div>
            
        </div>

    </div>


    




    </div>


  
    {%- endif -%}




{%- if brcnt == 2 -%}

    <!-- this is cont condition -->

     <div class="childtextbox" style="height:200px" id="1">

        {% assign indi = indi | plus: 1 %}
        <div>
            <img src="{{ post.path }}" class="indicator2gal" onclick="repphotocontent1({{indi}})"></img>
        </div>

       

    </div>

  {%- endif -%}








{% endfor %}
        

            











   
            <script>
let photo = [
  "./resources/art/drawings/latest 3-11-2025/aifishman.png",
  "./resources/art/drawings/latest 3-11-2025/fm2.png",
  "./resources/art/drawings/latest 3-11-2025/fm1.png",
  "./resources/art/drawings/latest 3-11-2025/ant hell.jpg",
  "./resources/art/drawings/latest 3-11-2025/bosh practice 1.jpg",
  "./resources/art/drawings/latest 3-11-2025/rabbit practice.jpg",
  "./resources/art/drawings/latest 3-11-2025/rp2.jpg",
  "./resources/art/drawings/latest 3-11-2025/rp3.jpg",
  "./resources/art/drawings/latest 3-11-2025/rp4.jpg",
  "./resources/art/drawings/latest 3-11-2025/sqeeble.jpg",
  "./resources/art/drawings/latest 3-11-2025/willy.jpg",
  "./resources/art/drawings/newest1/abstract1.jpg",
  "./resources/art/drawings/newest1/another1.png",
  "./resources/art/drawings/newest1/another2.jpg",
  "./resources/art/drawings/newest1/bee.png",
  "./resources/art/drawings/newest1/beetle.jpg",
  "./resources/art/drawings/newest1/boschpractice1.jpg",
  "./resources/art/drawings/newest1/boschpractice2.jpg",
  "./resources/art/drawings/newest1/combine.jpg",
  "./resources/art/drawings/newest1/pinsneedles.jpg",
  "./resources/art/drawings/newest1/randopractice.jpg",
  "./resources/art/drawings/newest1/scm2.jpg",
  "./resources/art/drawings/newest1/scm3.jpg",
  "./resources/art/drawings/newest1/scm4.jpg",
  "./resources/art/drawings/newest1/scm5.jpg",
  "./resources/art/drawings/newest1/scm6.jpg",
  "./resources/art/drawings/newest1/scm7.jpg",
  "./resources/art/drawings/newest1/scm8.jpg",
  "./resources/art/drawings/newest1/sketchclubmisc.jpg",
  "./resources/art/drawings/slightly new 2/collagefinal.jpg",
  "./resources/art/drawings/slightly new 2/collageoutline.jpg",
  "./resources/art/drawings/slightly new 2/designp.jpg",
  "./resources/art/drawings/slightly new 2/dp.jpg",
  "./resources/art/drawings/slightly new 2/gridfinal.jpg",
  "./resources/art/drawings/slightly new 2/gridmp.jpg",
  "./resources/art/drawings/slightly new 2/randoo.jpg",
  "./resources/art/drawings/slightly new 2/rano1.jpg",
  "./resources/art/drawings/slightly new 2/stilllife.jpg",
  "./resources/art/drawings/slightly new 2/stilllife2.jpg",
  "./resources/art/drawings/older 3/faces.png",
  "./resources/art/drawings/older 3/faces2.png",
  "./resources/art/drawings/older 3/fuckedthing.png",
  "./resources/art/drawings/older 3/ghast2hplove.png",
  "./resources/art/drawings/older 3/ghasthplove.png",
  "./resources/art/drawings/older 3/hl2sketch.png",
  "./resources/art/drawings/older 3/idk.png",
  "./resources/art/drawings/older 3/keytre.png",
  "./resources/art/drawings/older 3/lovecraftbeast.png",
  "./resources/art/drawings/older 3/me2beersin.png",
  "./resources/art/drawings/older 3/shandakbirdunkownkadath.png",
  "./resources/art/drawings/older 3/spearhighlandsbs.png",
  "./resources/art/drawings/older 3/tree.png",
  "./resources/art/drawings/older 3/villageofthemoonbeastslovecraft.png",
  "./resources/art/drawings/older 3/you.png",
  "./resources/art/drawings/oldest 4/monsterpractice.png",
  "./resources/art/drawings/oldest 4/monstpractice2.png",
  "./resources/art/drawings/oldest 4/randosketch.jpg",
  "./resources/art/drawings/oldest 4/soundofpreserverance.png"
];


            </script>


   {% include "partials/footer.njk" %}


</body>
</html>
