

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    
    <style>
    body {
      background-image: url('./resources/backgrounds/reddd.jpeg');
  
      background-attachment: fixed;
      

    }

    </style>

<link rel="stylesheet" href="./resources/progresources/globalcss.css">


</head>




  
<body>




  {% include "partials/header.njk" %}


  <audio id="bgm" loop>
    <source src="./resources/audio/Waltzing Flutes (Remastered) 4.mp3" type="audio/mpeg">
</audio>


  <audio id="postmusicclick">
    <source src="./resources/onclickaudio/cough4.wav" type="audio/mpeg">
  </audio>
  

  <br><br>

    <div class="parentbox">

      <button id="a4" onclick="displayart(4)">current art</button>
      <button id="a3" onclick="displayart(3)">later college art</button>
      <button id="a2" onclick="displayart(2)">mid college art</button>
      <button id="a1" onclick="displayart(1)">early college art</button>
      <button id="a0" onclick="displayart(0)">highschool art</button>
      
    

    </div>

   
    <br><br><br><br><br><br><br>

  <div id="currentart">


</div>


</div>







      <br><br> <br><br> <br><br> <br><br>

      


     <!-- <button id="button_A">Press me</button> --> 
<!--<h3 id="heading_A"></h3> -->

{% include "partials/footer.njk" %}

    
</body>
</html>