

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>







body {
          background-image: url('./resources/backgrounds/boiler2.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }



    </style>


<link rel="stylesheet" href="./resources/progresources/globalcss.css">



</head>




  
<body>




  {% include "partials/header.njk" %}
    



  <audio id="bgm" loop>
    
  </audio>
  
  




  
  <audio id="postmusicclick">
  <source src="./resources/onclickaudio/whimper1.mp3" type="audio/mpeg">
  </audio>
  




 



  <div class="parentboxcenter">



          
    <div>
      <img src="./resources/images/meirl.webp" class="journalindicator"></img>
  </div>
  
  <div class="childtextbox">
  <h1>3-20-2025<h1>
  </div>
  
  
  
  
  </div>
  

       
 
  
<div class="parentbox">
 
  <p class="betterp">
 
    Lately I've been spending a lot of time working on my website. I find that Even though it’s a lot 
    of work, I’ve been able to enter into this sort of obsessive flow state that I've been chasing via
     my tech undergrad studies. This is what I have been hoping ECEE would be. I think if I’m going to
      be able to stay sane for the next few years I need to consistently be working on projects. I think 
      I'll get into making games next!
I just can’t believe all it took to get me back to the game was taking a web design course, how something 
so simple as that was all that I needed. I've missed two quizzes in that course, and my grade has suffered.
 I’m at a 82 percent, spring break is here. I don’t like how low that grade is, but I've learned that the 
 min to pass is a d-. That still doesn't feel right, I don’t want to place my bets on that. 
Me and the capstone team went out for our team building activity. The gaming lounge was closed so we ended 
up just getting food and talking. Conversation got stale around the 1-hour mark, [redacted] and [redacted]
 were the only ones left talking, 
Everyone else was looking at their phone or laptop, they were discussing the quality of phone networks. 
freaking great dude.  I left soon after that, went to the [redacted] building and worked on my site for a 
few hours. I've been super tired today, some days I am just 100% sapped of energy for no reason. 
I have a fuck load of laundry and a whoooole bunch of chores. I need to clean the bathroom. I just want to 
sleep for a few centuries. 
I've been messaging that guy on slowly, little pen pal. it takes two days for letters to deliver. 
He complemented my drawings and music. He draws well too. It’s nice to be complemented, I’m not letting 
it go to my head. 
My site got 10 views today! wow! The number was 4 views per day but then got to 10. I think it’s because I 
redid the home page to have more stuff in it, prolly attracted more viewers. 
I think that it’s good to be on the lookout for views but not be wholly obsessed with them. I want people to 
see my cool site, but really the end goal is to make online friends.  I just want to find a situation where 
there are some people who follow my stuff and I follow their stuff and we can just be neat little internet
 buddies!. Something like how [redacted] and I on Tumblr worked out.  It’s nice to know that at least I am 
 making someone happy with my online presence. I can’t really be myself in real 
life, so it’s like giving the real me a walk around the neighborhood, and a little real social interaction. 
 I am still a little on the fence about if I want to share everything in my journals on the site. Probably not,
  likely it will be a selective thing. 
I think that making pcbs might be a fun little project, but they cost money ohhh so sad. 
, lclcclclclclclclclclclclclclclclclclclclclclclclclclclclclclclclcl
Today was a long day, I had to stay past 6:00 because we are now starting our group projects in the class.
 We have this lame ass project which is a skill share page. boring. I would rather make something like a website 
 dedicated to lobster fighting//s
I watched an episode of squid games s2 today with mumsy. It was decent.  god I hope that I start feeling less tired
 soon. I think I’ll go to the gym tomorrow, freshen up a bit. I haven't been working out as much lately, most likely
  due to the website project. I've been working on this thing way too much. just recently I reformatted the site with 
  11ty, which i am a little unsure if it was worth the effort.  It took a bit of time to get set up, and then I reorganized
   the site assets into better folders, but then I had to update all the paths to the images and stuff, I am still not done 
   the whole dream log needs to be updated. All the while I could have been making new stuff for the site. 
I've got to sign up for summer courses, I haven't done that yet. Also, I need a haircut. SO MUCH SHIT TO DO! I just need 
a month off. to fully detox/.
 



  </p>
  
     
</div>














   

   


 

      

<div class="parentboxcenter">



          
  <div>
    <img src="./resources/images/bleeder.jpg" class="journalindicator"></img>
</div>
<div class="childtextbox">
<h1>3-2-2025<h1>
</div>



</div>


<div class="parentbox">
  
   
  <p class="betterp">
    right now, I am feeling burnt out, not horribly so, I am not completely hopeless, but I am burnt out. 
    I haven't journaled in a while. I don’t think that means I am any less lonely it’s just stopped being a 
    habit. I've just been dealing with the feeling of loneliness without an outlet.  Lately whenever I have 
    time to go for a walk which really isn't often, I find myself crying while I drive back home.  I guess 
    having time to reflect on my feelings opens everything I've been bottling inside.  Hard to be emotional 
    when you are stressed out and overworked. 
    During my last walk I could hardly enjoy it, I couldn't keep myself thinking about the future, how 
    terrible life would be, working a 9-5 until I fucking die. and even a 9-5 isn't even guaranteed with 
    the way things look politically. Worker rights might be eroded to the point of global slavery. Who knows, things are bleak.
    The thought of killing myself has danced across my mind once or twice, lucky my schedule is manageable or that might be a more prominent idea.
    I recently played delta rune, it was great but now I am left empty without much to look forwards to. Not really being moved 
    by any of my games or shows. I guess game of thrones is cool scratch that.  I have to remind myself of what is good in life 
    lately. I think it’s pretty easy to think negatively. 
    Early in the semester I was heavily thinking about creating a website, a neo cities site that I could gain some sort of 
    online presence with and find online friends through. It sort of bothers me that went through a web dev phase as a teen 
    and have nothing to show for it, I learned JavaScript and didn't even make a website. 
    I think now is the best time for that, but the wicked irony is that I am burnt out during my free time and don’t feel 
    like making a site. Even while I am taking a web dev course.
    I think that the break would be the best time to do it. Just get like the barebones going, get some momentum and then 
    maybe I could just work on it little by little. The hardest part of doing things sometimes is just building momentum. 
    I've started drinking a little bit of coffee again. bad habit. I agonize over the fact that I have a year and some change 
    left in my schooling so much. I am almost 1/4th of my way through the rest of the semesters I need to take, and this one 
    semester has felt like an eternity. and I need to work over the summer too. and then I fucking work for the rest of my life. 
    It really doesn't ever end period, does it? what’s the fucking point.do people enjoy their lives? it seems like happiness 
    is a fucking sham. I don’t think that there really is a point to all of this. 
    
  </p>
  
     
</div>
      
<div class="parentboxcenter">
          
  <div>
    <img src="./resources/images/death.jpg" class="journalindicator"></img>
</div>
<div class="childtextbox">
<h1>1-10-2025<h1>
</div>



</div>






<div class="parentbox">

<p class="betterp">
its almost the end of winter break, I haven't written much in this journal lately. I'm on day 5 of my coffee detox, feeling 
pretty good right now. Earlier on in the semester I cut back by a cup and now I am not drinking coffee at all. Feeling much
more relaxed, but that could just be the effects of being on break.  I've spent a lot of my break just depressed honestly,
not having any connections from the semester made it so that I didn't have anyone to do anything with. And forget being 
outside, the weather is too damn cold to be out there. 
Another thing I've been doing a lot of is just staring into space trying to figure out what I even want to do, Sometimes 
I'll finish eating or finish up what I was doing previously and be at a complete loss as to what I should do with myself. 
During the semester I've mostly filled my free time with video games and tv shows, but now that I have time off I feel
like I really should be working on more fulfilling things, like some of my previous hobbies, like drawing or writing or 
making stuff.  and sometimes I just don’t have the will to get into those things, but I have a feeling that  I want to 
be working on that stuff. I guess just starting is really difficult. The problem I had  yesterday was that I wanted to 
draw but didn't know what to draw, so I just reverted back to drawing more of the garden of earthly delights, knowing
that it would probably just be good practice, starting. I think maybe thats the way to do it, just have like some 
really easy practice material to start up with, like a warm up exercise, do that for like 15 minutes or 10 minutes,
and then get into some of the hard stuff. Idk. I am not looking forwards to capstone 2. the others will be fine, just in terms 
of the material,  but I am also not  looking forwards to the social aspect. I just fucking know that people are going to be terrible, I just know that 
I'll try to make friends in class and it will fall flat on its face, its never worked out in my engineering classes 
the people there fucking suck so bad.  I think that if I join a club and be consistent with it, maybe the running club,
maybe I can get some friends at the end of the  semester. I want to do the running club, but I am a little afraid that
they would leave me in the dust, or that it would be too hard since [redacted]
I plan on doing a meeting this next Friday, see how it goes, and then if it doesn't work out the first time I will go
over to the card game club.  I do really want to do the running club however, the running meetup I did around [redacted] seemed promising, it was
all older people but if it was younger people I think I could get into it. 
Plus when I mentioned my plan to [redacted] he said that he heard that running people are extra horny.  I don’t know
where he heard this, but I looked it up and I guess some people report that they get  horned up after they run. on 
reddit. If that has any validity, that could be a good way to have a little fun, I couldn't get the dating apps to
work for attracting women and I just  really don’t want to go through with that for men. I don’t like the idea of
meeting up with strangers until I've at least seen them a few times and feel comfortable with being around them,
to make sure they are not  serial killers or will rob me or something.  plus there are plenty of ugly men out 
there who kept hitting me up. wasn't a fan of that. There is a strange pain in my ear, it sucks. 
I was completely filled with dread yesterday thinking about returning to college, and the next four years of the 
trump presidency. It should be okay overall, its a pretty balanced schedule but I still couldn't help it.  Sometimes 
I think that I seriously need help, its my break and I've just been in bed most of the time,  I guess I just need to 
learn how to effectively switch tasks because whenever I am working on something or  playing a game I feel okay, so
maybe its just that I need to get better at getting into stuff, just starting. 
</p>


</div>



   


   




   {% include "partials/footer.njk" %}

</body>
</html>

