

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>







body {
          background-image: url('./resources/backgrounds/thestreets.png');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }



    </style>


<link rel="stylesheet" href="./resources/progresources/globalcss.css">



</head>




  
<body>




  {% include "partials/header.njk" %}
    



  <audio id="bgm" loop>
    <source src="./resources/audio/C418 - Cat - Minecraft Volume Alpha 4.mp3" type="audio/mpeg">
  </audio>
  
  




  
  <audio id="postmusicclick">
  <source src="./resources/onclickaudio/bamboo-hit-sound-effect.mp3" type="audio/mpeg">
  </audio>
  




 



   


   

  <br><br><br>
        <div class="parentboxcenter">

         <div class="childtextbox">
            <h3>WEBRINGS</h3>
         </div>
        </div>
        <br>
    
        
        <div class="parentboxcenter">

            <div>
            <object id="melonland-surf-club" data="https://melonland.net/surf-badge.svg?fill=#383838" type="image/svg+xml" style="width: 100px; height: 100px;"></object>
            </div>

            <div>
            <script data-widget="images" src="https://rock-webring.neocities.org/webstring.js"></script>
            </div>    

           </div>




           <br><br><br>
        <div class="parentboxcenter">

            <div class="childtextbox">
               <h3>COOL SITES</h3>
            </div>
   
           </div>
           <br>


 

          
           <div class="buttonboxcenter">

            
            <div >
        <a href="https://driftt.neocities.org">
            <img src="https://driftt.neocities.org/driftt.png" class="neighborhoodbuttonchild"></img>
              </a>

              </div>

              <div >
                <a href="https://kidwiththechemicalz.net">
                    <img src="https://kidwiththechemicalz.net/88x31.gif" class="neighborhoodbuttonchild"></img>
                      </a>
        
                      </div>


                      <a href="https://rebecka.xyz" target="_blank"><img src="https://rebecka.xyz/icons/button.gif"></a>

                 


                              <a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/assets/img/linkback.gif" alt="petrapixel"></a>


                              <a href="https://joppiesaus.neocities.org">
                                <img src="https://joppiesaus.neocities.org/img/joppiesaus-banner-1.png" class="neighborhoodbuttonchild"></img>
                                  </a>


                                 
           </div>
  
  


           <br><br><br>
           <div class="parentboxcenter">
   
               <div class="childtextbox">
                  <h3>MY SITE BUTTON!</h3>
               </div>
      
              </div>
              <br>
   
    
   
             
             
   
               
            
              <div class="parentboxcenter">


                 <div class="childtextbox">
                    

                    <textarea id="w3review" name="w3review" rows="4" cols="50">
                        <a href="https://kerchunkleknoughts.github.io/dogwithablog.gov/index"><img src="https://kerchunkleknoughts.github.io/dogwithablog.gov/resources/officialsitebutton/button.png"></img></a>
                        </textarea>

                    <a href="https://kerchunkleknoughts.github.io/dogwithablog.gov/index">
                        <img src="https://kerchunkleknoughts.github.io/dogwithablog.gov/resources/officialsitebutton/button.png" class="neighborhoodbuttonchild"></img>
                          </a>
               
                        </div>

                        <div class="childtextbox">
                        <p class="betterp">Pretty please just hotlink this, I'm going to make a new button soon, or just 
                            Download the new one when I send out an rss update
                        </p>
                        </div>
                    
              </div>
                     
         
     








   {% include "partials/footer.njk" %}

</body>
</html>

