

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>







body {
          background-image: url('./resources/backgrounds/etch2.webp');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }



    </style>


<link rel="stylesheet" href="./resources/progresources/globalcss.css">



</head>




  
<body>




  {% include "partials/header.njk" %}
    







     






    

    <br><br>
    <div class="parentbox">
        





        <div class="childtextbox" style="height:300px" id="1">
     
    
            <div>
                <img src="./resources/photos/coldcurly.jpg" class="indicator2"></img>
                 </div>
    
          
    
    
            <div>
           <p class="betterp">Cold curly
           </p> 
            </div>
           
    
            </div>
    
    
    
            <div class="childtextbox" style="height:230px" id="2">
     
    
                <div>
                    <img src="./resources/photos/miffed.jpg" class="indicator2"></img>


                     </div>
        
              
        
        
                     <div>
                        <p class="betterp">
                            Ohhh good kitty :&#41;
                        </p> 
                         </div>
               
        
                </div>
        
    
    
                <div class="childtextbox" id="3">
     
    
                    <div>
                        <img src="./resources/photos/toes.jpg" class="indicator2"></img>
                         </div>
            
                  
            
            
                         <div>
                            <p class="betterp">
                                Nola img2
                            </p> 
                             </div>
                            
                   
            
                    </div>
            
        
        
                    <div class="childtextbox" id="4">
     
    
                        <div>
                            <img src="./resources/photos/curly.jpg" class="indicator2"></img>
                             </div>
                
                      
                
                
                             <div>
                                <p class="betterp">
                                couch curly
                                </p> 
                                 </div>
                                
                       
                
                        </div>
                
            
                                
    
    
         
        </div>
    
    

                






   {% include "partials/footer.njk" %}

</body>
</html>

