

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>







body {
          background-image: url('./resources/backgrounds/machine.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }



    </style>


<link rel="stylesheet" href="./resources/progresources/globalcss.css">



</head>




  
<body>




  {% include "partials/header.njk" %}
    



  <audio id="bgm" loop>
    <source src="./resources/audio/Life Is Sweet (Daft Punk Remix) 4.mp3" type="audio/mpeg">
  </audio>
  
  




  
  <audio id="postmusicclick">
  <source src="./resources/onclickaudio/sawblade_stick3.wav" type="audio/mpeg">
  </audio>
  




 
  <br><br><br>
        <div class="parentboxcenter">

         <div class="childtextbox">
            <h3>WEB DEV</h3>
         </div>
        </div>
        <br>


   
          
        <div class="parentboxcenter">


          
             
                   <div class="childtextbox">

                    
                    <div class="parentbox">

                    <div>
                   <p>
                    Website creation ideas <a href="https://32bit.cafe/websiteideas/">link</a>
                   </p> 
                    </div>
                   
                    </div>




                        <div class="parentbox">

                            <div>
                         
   <p>
    Really good 11ty tutorial -> makes general web dev super efficient! -><a href="https://32bit.cafe/websiteideas/">link</a>
   </p> 

                            </div>
                           
                            </div>
    

                            
                        <div class="parentbox">

                           <div>
                        
  <p>
   Automate rss feed creation post 11ty -><a href="https://caffeineandlasers.neocities.org/blogs/automatingYourRSS">link</a>
  </p> 

                           </div>
                          
                           </div>
   




                   </div>

                   
                   
        

               
         </div>
                
    

         <br><br><br>
         <div class="parentboxcenter">
 
          <div class="childtextbox">
             <h3>WEB RINGS-COMMUNITIES</h3>
          </div>
         </div>
         <br>


         <div class="parentboxcenter">


          
             
            <div class="childtextbox">

             
             <div class="parentbox">

             <div>
            <p>
             Melonland surf club <a href="https://melonland.net/surf-club">link</a>
            </p> 
             </div>
            
             </div>

                
                <div class="parentbox">
   
                <div>
               <p>
                button directory <a href="https://neonaut.neocities.org/cyber/88x31#:~:text=NeoCities%20rekindled%20my%20interest%20in,Why%2088%20by%2031%2C%20anyway%3F">link</a>
               </p> 
                </div>
               
                </div>
   


            

            </div>

           

          
   
               
   
         
   
            
 

        
  </div>
   


  <br><br><br>
  <div class="parentboxcenter">

   <div class="childtextbox">
      <h3>GENERAL TECH</h3>
   </div>
  </div>
  <br>
      
  
  <div class="parentboxcenter">


          
             
    <div class="childtextbox">

     
     <div class="parentbox">

     <div>
    <p>
     Autohotkey-> automate toons of computer stuff, I have git pushes automated this way: <a href="https://www.autohotkey.com/">link</a>
    </p> 
     </div>
    
     </div>


     <div class="parentbox">

      <div>
     <p>
      Logi options -> bind special commands to most logi computer mice. <a href="https://www.logitech.com/en-us/software/logi-options-plus.html">link</a>
     </p> 
      </div>
     
      </div>
 
         
        
        

    

    </div>

   

  

  
    



</div>

    

     

<br><br><br>
<div class="parentboxcenter">

 <div class="childtextbox">
    <h3>RANDO LINKS</h3>
 </div>
</div>
<br>



<div class="parentboxcenter">

             
             
   <div class="childtextbox">

     
      <div class="parentbox">
 
      <div>
     <p>
      Crash at crush <a href="https://en.wikipedia.org/wiki/Crash_at_Crush">link</a>
     </p> 
      </div>
     
      </div>
 
         
      <div class="parentbox">
 
         <div>
        <p>
        Remote controlled cockroaches<a href="https://www.youtube.com/watch?v=uT0uefr2LZc&ab_channel=FirstCoastNews">link</a>
        </p> 
         </div>
        
         </div>
    

         <div class="parentbox">
 
            <div>
           <p>
           The dancing plauge of 1518<a href="https://en.wikipedia.org/wiki/Dancing_plague_of_1518">link</a>
           </p> 
            </div>
           
            </div>
 

            
         <div class="parentbox">
 
            <div>
           <p>
           The great molasses flood of 1919<a href="https://en.wikipedia.org/wiki/Great_Molasses_Flood">link</a>
           </p> 
            </div>
           
            </div>
     
                     
         <div class="parentbox">
 
            <div>
           <p>
           Last thing you see...<a href="https://en.wikipedia.org/wiki/Optography">link</a>
           </p> 
            </div>
           
            </div>
     

            <div class="parentbox">
 
               <div>
              <p>
              Man performs his own appendix surgery<a href="https://www.bbc.com/news/magazine-32481442">link</a>
              </p> 
               </div>
              
               </div>
        
    

               <div class="parentbox">
 
                  <div>
                 <p>
                 Absurd trolly problems <a href="https://neal.fun/absurd-trolley-problems/">link</a>
                 </p> 
                  </div>
                 
                  </div>
 

                          <div class="parentbox">
 
                  <div>
                 <p>
                 The Oozinator &#9785; <a href="https://en.m.wikipedia.org/wiki/Oozinator">link</a>
                 </p> 
                  </div>
                 
                  </div>
 




                  <div class="parentbox">
 
                     <div>
                    <p>
                    Pigeon missle. <a href="https://en.m.wikipedia.org/wiki/Project_Pigeon">link</a>
                    </p> 
                     </div>
                    
                     </div>
    
    

</div>

</div>





   {% include "partials/footer.njk" %}

</body>
</html>

