

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>







body {
          background-image: url('./resources/backgrounds/machine.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }



    </style>


<link rel="stylesheet" href="./resources/progresources/globalcss.css">



</head>




  
<body>




  {% include "partials/header.njk" %}
    



  <audio id="bgm" loop>
    <source src="./resources/audio/C418 - Cat - Minecraft Volume Alpha 4.mp3" type="audio/mpeg">
  </audio>
  
  




  
  <audio id="postmusicclick">
  <source src="./resources/onclickaudio/bamboo-hit-sound-effect.mp3" type="audio/mpeg">
  </audio>
  




 
  <br><br><br>
        <div class="parentboxcenter">

         <div class="childtextbox">
            <h3>WEB DEV</h3>
         </div>
        </div>
        <br>


   
          
        <div class="parentboxcenter">


          
             
                   <div class="childtextbox">

                    
                    <div class="parentbox">

                    <div>
                   <p>
                    Website creation ideas <a href="https://32bit.cafe/websiteideas/">link</a>
                   </p> 
                    </div>
                   
                    </div>


                    <div class="parentbox">

                        <div>
                       <p>
                        Website creation ideas <a href="https://32bit.cafe/websiteideas/">link</a>
                       </p> 
                        </div>
                       
                        </div>

                   </div>

                   
        

               
                        
                   
                
                 
               
         </div>
                
    

   
         
    





   {% include "partials/footer.njk" %}

</body>
</html>

