

<!doctype html>
<html lang="en">
  <head>
    {% include "partials/headhead.njk" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    
    <style>

body {
          background-image: url("./resources/backgrounds/office.png");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }


    </style>

    <link rel="stylesheet" href="./resources/progresources/globalcss.css">


</head>




  


<body>



  {% include "partials/header.njk" %}






  


<audio id="bgm" loop>
  <source src="./resources/audio/Captain Beefheart - Hair Pie - Bake One 4.mp3" type="audio/mpeg">
</audio>


<audio id="postmusicclick">
<source src="./resources/onclickaudio/advancedwhimperwheeze.mp3" type="audio/mpeg">
</audio>


<div class="parentbox">

  <div>

    <img src="./resources/images/whatthefuckiswrongwithgithubpagesjpg.png">
  
    </div>
  

</div>


<div class="parentbox">


    
  
       
    
    

        
            
        <p class="betterpscroll"> Todo high importance 
            <br>
            &#8226;
            <br>
            &#8226; Join a few webrings -> maybe for now try one per site maintainence session, 
            <br>
            &#8226; 
            <br>
            &#8226; Make a home page that doesnt suck and isnt just my about page.
            <br>
            &#8226; look into putting personal projects without revealing too much about self.
            <br>
            &#8226; 
            <br>
            &#8226; add fun page -> just vids you like 
            <br>
            &#8226; Optimize the photos page to just load one big photo on click, then display it. 
                    Only render one large photo on page load, then replace and make visible per pic.
                    otherwise its going to get super laggy with more photos. 
            <br>
            &#8226; 
            <br>
            &#8226; 
            <br>
            &#8226; 
            <br>
            &#8226; make function which removes items with censored class so I can show site 
            to strangers or people I know. could be good for CW accessibility ig too
            <br>
            &#8226; 
            <br>
            &#8226; 
          
            </p>
     
            <p class="betterpscroll"> Todo med importance 
              <br>
              &#8226; investigate why freaking rss feed broke (its probably the dates)
              <br>
              &#8226; Add in more neighbors into neighborhood.
              <br>
              &#8226; stop art entries from visually overlapping. 
              <br>
              &#8226; Add background to some of entries in neighborhood page, the
              next site arrows are a little hard to see without a background color.
              <br>
              &#8226; add fun links page, like wikipedia links and cool music.
              <br>
              &#8226; 
              <br>
              &#8226; Create streamlined digital art to website pipeline. (easier)
              <br>
              &#8226; maybe add in a mood board idk I dont know what to put.             
                <br>
                &#8226; make resources a little less boring, but some pictures up bro... or at least just like 
                make it more detailed.
                &#8226; 
                <br>
                &#8226; Add functionality for multi journal pages.
                <br>
                &#8226; 
                <br>
                &#8226; Make home page, move current home page to about
                <br>
                &#8226; Add Games played to about 
                <br>
                &#8226; Add movies to about 
                <br>
                &#8226; Add tv shows to about 
                <br>
                &#8226; Add names to drawings
                <br>
                &#8226;
                <br>
                &#8226; 
                <br>
                &#8226;
                <br>
                &#8226; find more onclick audio files 
                <br>
                &#8226; 
                <br>
                &#8226; make autoplay enable just for session, not persistant
                <br>
                &#8226; make onclick audio enable button.
                <br>
                &#8226; investigate why the onclick audio doesnt work with autoplay disabled.
                <br>
                &#8226; 
                <br>
                &#8226; 
                <br>
                &#8226; 



              
                </p>

                <p class="betterpscroll"> Todo low importance 
                    <br>
                    &#8226;Update image paths to use 11ty functionality 
                    <br>
                    &#8226; embed piclog
                    <br>
                    &#8226; 
                    <br>
                    &#8226; 
                    <br>
                    &#8226; add support for different monitor sizes
                    <br>
                    &#8226; randomize cough noises on art page
                    <br>
                    &#8226; 
                    <br>
                    &#8226; 
                    <br>
                    &#8226; 
                    <br>
                    &#8226; 
                    <br>
                    &#8226; 
                    <br>
                    &#8226; 
                    <br>
                    &#8226; 
                    <br>
                    &#8226; 
                  
                    </p>

        
    
  
  
  </div>



  {% include "partials/footer.njk" %}
     
  

</body>
</html>

