

<!doctype html>
<html lang="en">
  <head>
    {% include "partials/headhead.njk" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>


        body {
          background-image: url('./resources/backgrounds/mail.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }


   
        </style>


   
<link rel="stylesheet" href="./resources/progresources/globalcss.css">





</head>




  
<body onmouseover>



  {% include "partials/header.njk" %}


<!--  
  <audio id="bgm" loop>
  <source src="./resources/audio/cockinmyrari.mp3" type="audio/mpeg">
</audio>  -->

<!-- Gorsh its so hard to pick which song is better :) -->


 <audio id="bgm" loop>
  <source src="./resources/audio/Aphex Twin - Xtal (HQ) 4.mp3" type="audio/mpeg">
</audio>


<audio id="postmusicclick">
<source src="./resources/onclickaudio/Pufferfish “AUGH” Sound effect 4.mp3" type="audio/mpeg">
</audio>


 <br><br>
    <div class="parentboxcenter"  >

          <div class="childtextbox" style=" position: absolute;   z-index: -1; height: 2400px ; width:1000px">

        </div>


    </div>
  





     
    <div class="parentboxcenter"  >



    <div>

  <div class="parentbox">

   
      <h1>Option 1
        <hr>
      </h1>



  </div>  






</div>








</div>  








{% if not site.censor1 %}

<div class="parentbox">



<div class="parentbox">


<p class="betterp">
Click <a href="mailto:theunclekerchunkle@gmail.com?subject=Maillist%20join%20request&body=pls%20let%20me%20join"> here</a> and I'll send over site updates through email,
 or send an email to theunclekerchunkle@gmail.com with a mailing list join request
</p>


</div>

</div>

{% endif %}




{% if site.censor1 %}


<div class="parentbox">



<div class="parentbox">


<p class="betterp">
send an email to plamptonsplampton@gmail.com with a mailing list join request
</p>


</div>

</div>


{% endif %}



     
    <div class="parentboxcenter"  >



    <div>

  <div class="parentbox">

   
      <h1>Option 2
        <hr>
      </h1>



  </div>  






</div>








</div>  



<div class="parentbox">



<div class="parentbox">


<p class="betterp">
Broaden your horizons and learn about RSS!
</p>


</div>

</div>





    
    <div class="parentboxcenter"  >



    <div>

  <div class="parentbox">

   
      <h1>?????What is rss?????
        <hr>
      </h1>



  </div>  
  <br>



</div>








</div>  


<div class="parentbox">


<img src="./resources/images/RSS_Logo.png" class="journalindicator" style="height:120px" > </img>
</div>


<div class="parentbox">



<div class="parentbox">


<p class="betterp">
This symbol indicates that a page has an rss feed. 
RSS feeds allow you to get notifications about changes
to a website. Depending on how the webmaster sets up their 
site, rss updates can be manually created and personalized,
or they can be created automatically via 11ty. This site
uses a combination of both to send updates.  
</p>


</div>

</div>



    <br><br>
    <div class="parentboxcenter">



    <div>

  <div class="parentbox">

   
      <h1>?????How do I receive rss updates?????
        <hr>
      </h1>


  </div>  
  <br>

</div>




</div>  


<div class="parentbox">
<img src="./resources/images/get_fed_loser_lol.png" class="journalindicator" style="height:120px ;width:150px" > </img>

</div>


<div class="parentbox">



<div class="parentbox">

<p class="betterp">
There are many apps which allow you to get updates about a site 
via rss. Personally I use a chrome extension called feedly. I will 
now walk you through setting up feeds with <a href="https://chromewebstore.google.com/detail/feedly/hipbfijinpcgfogaopmgehiegacbhmob">feedly.</a>
</p>


</div>

</div>


   <br><br>
    <div class="parentboxcenter">



    <div>

  <div class="parentbox">

   
      <h1>Step 1.
        <hr>
      </h1>


  </div>  
  <br>

</div>




</div>  


<div class="parentbox">
<img src="./resources/images/example-of-RSS-feed.png"   > </img>
</div>

<div class="parentbox">




<div class="parentbox" style="height:130px">

<p class="betterp" >
Whever the rss symbol is (bottom of page), click it. This will bring you to a page of what looks like code.
Make sure that the feedly extension is pinned in your chrome browser before going onto the 
next step.
</p>


</div>

</div>


   <br><br>
    <div class="parentboxcenter">



    <div>

  <div >

   
      <h1>Step 2.
        <hr>
      </h1>


  </div>  
  <br>

</div>




</div>  


<div class="parentbox">
    
<img src="./resources/images/dabar.png" style="height:50px ;width:250px" > </img>

</div>


<div class="parentbox">




<div class="parentbox">

<p class="betterp">
Now you want to click the feedly icon as seen in the figure. 
This will bring up a little menu which has in the upper right a 
button which says follow. Here you want to click that button. 
Here comes another annoying step, this will bring you to 
the rss page in feedly, which you have to press follow again, 
which should be right next to the name of the blog. I have no 
idea why it doesnt just sign you up for rss updates right 
after the first follow button but hey I dont make the rules. 
</p>


</div>

</div>



    <br><br>
    <div class="parentboxcenter">



    <div>

  <div class="parentbox">

   
      <h1>!!!!CONGRATS!!!!
        <hr>
      </h1>


  </div>  
  <br>

</div>




</div>  
 



<div class="parentboxcenter">

<img src="./resources/images/rats.webp" class="journalindicator" style="height:120px" > </img>


<div class="parentbox">

<p class="betterp">
CONGA RATS you did it! you are now an RSS master!
Now you have the ability to get updates about pages without 
ever needing to revisit them! 
</p>


</div>

</div>


 

{% include "partials/footer.njk" %}
   
</body>
</html>