

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>







body {
          background-image: url('./resources/backgrounds/ench.webp');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }



    </style>


<link rel="stylesheet" href="./resources/progresources/globalcss.css">



</head>




  
<body>




  {% include "partials/header.njk" %}
    



  <audio id="bgm" loop>
    <source src="./resources/audio/Life Is Sweet (Daft Punk Remix) 4.mp3" type="audio/mpeg">
  </audio>
  
  




  
  <audio id="postmusicclick">
  <source src="./resources/onclickaudio/sawblade_stick3.wav" type="audio/mpeg">
  </audio>
  





     

<br><br><br>
<div class="parentboxcenter">

 <div class="childtextbox">
    <h3>RANDO LINKS</h3>
 </div>
</div>
<br>





    
    
    <div class="parentbox">






    <div class="childtextbox">
 

        <div>
            <img src="./resources/images/crushat.jpg" class="indicator2"></img>
             </div>

      


        <div>
       <p>
        Crash at crush <a href="https://en.wikipedia.org/wiki/Crash_at_Crush">link</a>
       </p> 
        </div>
       

        </div>



        <div class="childtextbox">
 

            <div>
                <img src="./resources/images/roboroach.png" class="indicator2"></img>
                 </div>
    
          
    
    
                 <div>
                    <p>
                    Remote controlled cockroaches<a href="https://www.youtube.com/watch?v=5Rp4V3Sj5jE&list=WL&index=88&ab_channel=BackyardBrains">link</a>
                    </p> 
                     </div>
           
    
            </div>
    


            <div class="childtextbox">
 

                <div>
                    <img src="./resources/images/dplag.jpg" class="indicator2"></img>
                     </div>
        
              
        
        
                     <div>
                        <p>
                        The dancing plauge of 1518<a href="https://en.wikipedia.org/wiki/Dancing_plague_of_1518">link</a>
                        </p> 
                         </div>
                        
               
        
                </div>
        
    
    
                <div class="childtextbox">
 

                    <div>
                        <img src="./resources/images/molflod.jpg" class="indicator2"></img>
                         </div>
            
                  
            
            
                         <div>
                            <p>
                            The great molasses flood of 1919<a href="https://en.wikipedia.org/wiki/Great_Molasses_Flood">link</a>
                            </p> 
                             </div>
                            
                   
            
                    </div>
            
        

                    <div class="childtextbox">
 

                        <div>
                            <img src="./resources/images/rbbt.jpg" class="indicator2"></img>
                             </div>
                
                      
                
                
                             <div>
                                <p>
                                Last thing you see...<a href="https://en.wikipedia.org/wiki/Optography">link</a>
                                </p> 
                                 </div>
                                
                       
                
                        </div>
                
            
    

                        <div class="childtextbox">
 

                            <div>
                                <img src="./resources/images/lad.png" class="indicator2"></img>
                                 </div>
                    
                          
                    
                    
                                 <div>
                                    <p>
                                    Man performs his own appendix surgery<a href="https://www.bbc.com/news/magazine-32481442">link</a>
                                    </p> 
                                     </div>
                                    
                           
                    
                            </div>
                    
                
                            <div class="childtextbox">
 

                                <div>
                                    <img src="./resources/images/troll.png" class="indicator2"></img>
                                     </div>
                        
                              
                        
                        
                                     <div>
                                        <p>
                                        Absurd trolly problems <a href="https://neal.fun/absurd-trolley-problems/">link</a>
                                        </p> 
                                         </div>
                                        
                                        
                               
                        
                                </div>
                        
                    

                                <div class="childtextbox">
 

                                    <div>
                                        <img src="./resources/images/ooze.png" class="indicator2"></img>
                                         </div>
                            
                                  
                            
                            
                                         <div>
                                            <p>
                                            The Oozinator &#9785; <a href="https://en.m.wikipedia.org/wiki/Oozinator">link</a>
                                            </p> 
                                             </div>
                                            
                                            
                                   
                            
                                    </div>
                            
       
                                    
                                <div class="childtextbox">
 

                                    <div>
                                        <img src="./resources/images/pp.jpg" class="indicator2"></img>
                                         </div>
                            
                                  
                            
                            
                                         <div>
                                            <p>
                                            Pigeon missle. <a href="https://en.m.wikipedia.org/wiki/Project_Pigeon">link</a>
                                            </p> 
                                             </div>
                                            
                                            
                                            
                                   
                            
                                    </div>
                            


     
    </div>






    










   {% include "partials/footer.njk" %}

</body>
</html>

