
<!doctype html>
<html lang="en">

<!doctype html>
<html lang="en">
  <head>
    {% include "partials/headhead.njk" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>



      

      body {
          background-image: url('../resources/backgrounds/drlib.jpg');
      
          background-attachment: fixed;
          background-size: cover;
        }






    </style>


<link rel="stylesheet" href="../resources/progresources/globalcss.css">






</head>




  

<body>

  
  {% assign index = -1 %}
  {% assign goption = 1 %}


  {% include "partials/dreamheader.njk" %}



  {% include "partials/dreamaudio.njk" %}





 

  {% assign indi = -1 %}
  

  <div class="parentboxcenter">


  
  {% for post in collections.projects %}

  {% assign indi = indi | plus: 1 %}

  
  <div class="childtextbox" onclick="navdreams({{indi}})" style="height:230px;cursor: pointer;" >
     
    
    <div>
        <img src="{{post.data.image}}" class="indicator2" ></img>
         </div>

  


    <div>
   <p class="betterp" style="width:200px">
    {{ post.data.title }}
   </p> 
    </div>
   

    </div>





  {% endfor %}

  </div>






  {% include "partials/dreamfooter.njk" %}



 

</body>
</html>