

<!doctype html>
<html lang="en">

<!doctype html>
<html lang="en">
  <head>
    {% include "partials/headhead.njk" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>


      

      body {
          background-image: url('../resources/backgrounds/blandassrussiahellscape.jpg');
      
          background-attachment: fixed;
          background-size: cover;
        }






    </style>


<link rel="stylesheet" href="../resources/progresources/globalcss.css">






</head>




  

<body>


  {% include "partials/dreamheader.njk" %}



  {% include "partials/dreamaudio.njk" %}



  <div class="parentboxcenter">
  

   <div class="childtextbox">
    <h1>8bit computer</h1>
   </div>
   
   
  
  
  </div>

  

<div class="parentboxcenter">
  
  <img src="../resources/images/8bit.jpeg" class="indicator10"><img>


</div>


  <div class="parentboxcenter">
  
    <div class="childtextbox">
      
    <p class="betterp">
      Although the computer does have some odd signal connectivity issues at the moment, 
      it has proven to work as a functional digital system in the past and that's good enough 
      for me. I plan on building another computer in the near future which takes care of some 
      of the issues present in this version and makes several improvements to the previous design, 
      such as a video card, an interrupt module and a 16 bit architecture. I will also be looking 
      into ordering a custom PCB to cut down on assemble time costs + connectivity issues. Overall, 
      building the computer has been a rigorous, informative and rewarding  project which I wish 
      to attempt again.
</p>
  </div>
 </div>   





 {% assign index = 0 %}
 {% assign goption = 1 %}



 {% include "partials/dreamfooter.njk" %}

 

</body>
</html>