---
title: SPONGEBOB BENADRYL ADVENTURE!
date: 2025-05-04
description: A stupid game I am working on right now to learn how to use geodot. Its not fun or complete or even worth your time
tags: 
- dreampost
- projects
image: "../resources/images/onge.png"
---



<!doctype html>
<html lang="en">
<!doctype html>
<html lang="en">
  <head>
    {% include "partials/headhead.njk" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    
    <style>

      
      body {
          background-image: url('../resources/backgrounds/pirate2.gif');
      
          background-attachment: fixed;
          background-size: cover;
        }





    </style>

<link rel="stylesheet" href="../resources/progresources/globalcss.css">





</head>



  
<body>

  {% include "partials/dreamheader.njk" %}


  {% include "partials/dreamaudio.njk" %}


  <br>
  <div class="parentboxcenter">
  
   <div class="childtextbox">
    <h1>spongebob benadryl adventure</h1>
   </div>
   
   
  
  
  </div>
  <br>
  
  <br>
<div class="parentboxcenter">
  
  <img src="../resources/images/onge.png" class="indicator10"><img>

</div>

<br>
  <div class="parentboxcenter">
  
    <div class="childtextbox">
      
    <p class="betterp">
      Ya boy bobby had a little too much benadryl, join him in his
      trip through hell!
    
</p>
<iframe frameborder="0" src="https://itch.io/embed/4186606" width="552" height="167"><a href="https://kerchunkleknoughts.itch.io/spongebob-benadryl-adventure">spongebob Benadryl adventure by kerchunkleknoughts</a></iframe>

  </div>






</div>   
 <br>



 {% assign index = 0 %}
 {% assign goption = 1 %}


 {% include "partials/dreamfooter.njk" %}
 
</body>
</html>
