---
title: SPONGEBOB BENADRYL ADVENTURE!
date: 2025-05-04
description: A stupid game I am working on right now to learn how to use geodot. Its not fun or complete or even worth your time
tags: 
- dreampost
- projects
image: "../resources/images/onge.png"
---




<!doctype html>
<html lang="en">

<!doctype html>
<html lang="en">
  <head>
    {% include "partials/headhead.njk" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>


      

      body {
          background-image: url('../resources/backgrounds/blandassrussiahellscape.jpg');
      
          background-attachment: fixed;
          background-size: cover;
        }






    </style>


<link rel="stylesheet" href="../resources/progresources/globalcss.css">






</head>




  

<body>


  {% include "partials/dreamheader.njk" %}



  {% include "partials/dreamaudio.njk" %}



  <br>
  <div class="parentboxcenter">
  

   <div class="childtextbox">
    <h1>spongebob benadryl adventure</h1>
   </div>
   
   
  
  
  </div>
  <br>

  

  <br>
<div class="parentboxcenter">
  
  <img src="../resources/images/onge.png" class="indicator10"><img>


</div>


<br>
  <div class="parentboxcenter">
  
    <div class="childtextbox">
      
    <p class="betterp">
      A stupid game I am working on right now to learn how to
      use geodot. Its not fun or complete or even worth your time. 
      click <a href="../fuckerbergthewrath3/fuckerbergthewrath3.html">here</a> to play
</p>
  </div>
 </div>   
 <br>




 {% assign index = 0 %}
 {% assign goption = 1 %}



 {% include "partials/dreamfooter.njk" %}

 

</body>
</html>