

<!doctype html>
<html lang="en">

<!doctype html>
<html lang="en">
  <head>
    {% include "partials/headhead.njk" %}
    
    <meta http-equiv="refresh" >

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>


      

      body {
          background-image: url('../resources/backgrounds/blandassrussiahellscape.jpg');
      
          background-attachment: fixed;
          background-size: cover;
        }






    </style>


<link rel="stylesheet" href="../resources/progresources/globalcss.css">






</head>




  

<body>


  {% include "partials/dreamheader.njk" %}



  {% include "partials/dreamaudio.njk" %}


  
  <br>
  <div class="parentboxcenter">
  

   <div class="childtextbox">
    <h1> kitty land :&#41; the game</h1>
   </div>
   
   
  
  
  </div>
  <br>


  <br>
<div class="parentboxcenter">
  
  <img src="../resources/images/gnome.png" class="indicator10"><img>


</div>



 
<br>
  <div class="parentboxcenter">
  
    <div class="childtextbox">
      
    <p class="betterp">
      This is just a placeholder for a game that I am working on right now, 
      As it develops I'll push new changes to this site. 
      <a href="../fuckedcatsthegame/fuckerbergthewrath3.html">here</a> to play
</p>
  </div>
 </div>   
 <br>


</p>
  </div>
 </div>   





 {% assign index = 1 %}
 {% assign goption = 1 %}


 {% include "partials/dreamfooter.njk" %}

 

</body>
</html>