---
title: Super duper doggy blaster the video game
date: 2026-01-07
description:     Waves upon waves of assorted creeps, cretins, imbeciles and perverts. MAN THE DEFENSE! PROTECT YOUR HOME! Equipped with state of the art weaponry, show those fools what is good. 
tags: 
- dreampost
- projects
image: "../resources/images/sddb3.png"
---




<!doctype html>
<html lang="en">

<!doctype html>
<html lang="en">
  <head>
    {% include "partials/headhead.njk" %}
    
    <meta http-equiv="refresh" >

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>


      

      body {
          background-image: url('../resources/backgrounds/spacedout.jpg');
      
          background-attachment: fixed;
          background-size: cover;
        }






    </style>


<link rel="stylesheet" href="../resources/progresources/globalcss.css">






</head>




  

<body>


  {% include "partials/dreamheader.njk" %}



  {% include "partials/dreamaudio.njk" %}


  
  <br>
  <div class="parentboxcenter">
  

   <div class="childtextbox">
    <h1> Super duper doggy blaster the video game</h1>
   </div>
   
   
  
  
  </div>
  <br>


  <br>




  

 
<br>
  <div class="parentboxcenter">

    <img src="../resources/images/sddb3.png" class="indicator7"><img>
  
    <div class="childtextbox">

      
    <p class="betterp">
    They are coming. 

    Waves upon waves of assorted creeps, cretins, 
    imbeciles and perverts. MAN THE DEFENSE! PROTECT YOUR HOME! 
    Equipped with state of the art weaponry, show those fools what is good. 

    [CONTROLS] 
    wasd to move press e to launch a little doggy 

    [CREDITS]

    All of my assets except for the code is absolutely,
    100% stolen for free from itch.io

   
</p>
  <iframe frameborder="0" src="https://itch.io/embed/4174833" width="552" height="167"><a href="https://kerchunkleknoughts.itch.io/super-duper-doggy-blaster-the-game">Super duper doggy blaster the video game by kerchunkleknoughts</a></iframe>
  </div>
 </div>   
 <br>






</p>
  </div>
 </div>   





 {% assign index = 2 %}
 {% assign goption = 1 %}


 {% include "partials/dreamfooter.njk" %}

 

</body>
</html>