---
title: kitty land :&#41; the game
date: 2025-08-01
description: This is just a placeholder for a game that I am working on right now, as it develops I'll push new changes to this site. 
tags: 
- dreampost
- projects
image: "../resources/images/gnome.png"
---




<!doctype html>
<html lang="en">

<!doctype html>
<html lang="en">
  <head>
    {% include "partials/headhead.njk" %}
    
    <meta http-equiv="refresh" >

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>


      

      body {
          background-image: url('../resources/backgrounds/spacedout.jpg');
      
          background-attachment: fixed;
          background-size: cover;
        }






    </style>


<link rel="stylesheet" href="../resources/progresources/globalcss.css">






</head>




  

<body>


  {% include "partials/dreamheader.njk" %}



  {% include "partials/dreamaudio.njk" %}


  
  <br>
  <div class="parentboxcenter">
  

   <div class="childtextbox">
    <h1> kitty land :&#41; the game</h1>
   </div>
   
   
  
  
  </div>
  <br>


  <br>




  

 
<br>
  <div class="parentboxcenter">

    <img src="../resources/images/kitty2.png" class="indicator7"><img>
  
    <div class="childtextbox">

      
    <p class="betterp">
      meow ( ͡° ͜ʖ ͡°)

      [warning! game has profanity]!!

      Oh yeah welcome to kitty town, come create the cat themed utopia of your dreams! 
      Are you into guitar hero? well I put that in this game too for some reason! 



      use arrow keys to move, and press 1 for further controls.  
      Best played in full screen. Make sure to add in a cat cafe for
      your kitties first thing or else they will explode and soft lock the game.

      <iframe frameborder="0" src="https://itch.io/embed/4169232" width="552" height="167"><a href="https://kerchunkleknoughts.itch.io/kitty-land-the-game">Kitty land the game by kerchunkleknoughts</a></iframe>
</p>
  </div>
 </div>   
 <br>






</p>
  </div>
 </div>   





 {% assign index = 1 %}
 {% assign goption = 1 %}


 {% include "partials/dreamfooter.njk" %}

 

</body>
</html>