---
title: kitty land :&#41; the game
date: 2025-08-01
description: This is just a placeholder for a game that I am working on right now, as it develops I'll push new changes to this site. 
tags: 
- dreampost
- projects
image: "../resources/images/gnome.png"
---




<!doctype html>
<html lang="en">

<!doctype html>
<html lang="en">
  <head>
    {% include "partials/headhead.njk" %}
    
    <meta http-equiv="refresh" >

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>


      

      body {
          background-image: url('../resources/backgrounds/pirate.gif');
      
          background-attachment: fixed;
          background-size: cover;
        }






    </style>


<link rel="stylesheet" href="../resources/progresources/globalcss.css">






</head>




  

<body>


  {% include "partials/dreamheader.njk" %}



  {% include "partials/dreamaudio.njk" %}


  
  <br>
  <div class="parentboxcenter">
  

   <div class="childtextbox">
    <h1> kitty land :&#41; the game</h1>
   </div>
   
   
  
  
  </div>
  <br>


  <br>




  

 
<br>
  <div class="parentboxcenter">

    <img src="../resources/images/kitty2.png" class="indicator10"><img>
  
    <div class="childtextbox">

      
    <p class="betterp">

      <b> meow ( ͡° ͜ʖ ͡°) </b>

Welcome to kitty land! In this game you 
grow the town of kitty land, yeah.  This is an animal crossing/sims type game where you create a 
little city for creatures to move into. The catch is they are all fucked up and suffer from a variety of ailments. 

Current features:

-> three different npcs+npc houses
->custom voice lines
-> need system/basic pathfinding

Planned features:

-> npc currency unlock system, lower currencies can be exchanged for higher currencies
To buy new npc types
-> purchasable area expansion
-> idk turn the whole game into an fps, deck builder, horror game with roguelike elements (joke)
-> ui that isnt complete shit


!!!!!!!!!!!!->  PLAY THE GAME ONLINE NOWWW ->>>>>>>  <a href="../kittygame/fuckerbergthewrath3.html">here</a> to play
</p>
  </div>
 </div>   
 <br>


 <div class="parentboxcenter">
  
 
 

</div>



 <div class="parentboxcenter">

   <img src="../resources/images/kitty1.png" class="indicator10"><img>
  
   <img src="../resources/images/kitty3.png" class="indicator10"><img>
 

</div>






</p>
  </div>
 </div>   





 {% assign index = 1 %}
 {% assign goption = 1 %}


 {% include "partials/dreamfooter.njk" %}

 

</body>
</html>