



{% if index!=-1 %}

{% include "./dreamnav.njk" %}

{% endif %}

<br><br><br><br>
<footer>

    <br><br>
    <div class="parentboxcenter">


{% if not site.censor1 %}
    <a href="../feed.html" class="childtextboxpadded">
        <img src="../resources/images/RSS_Logo.png" alt="RSS Feed" style="width: 20px; height: 20px"> 
    </a>
{% endif %}

    <a href="../index.html" class="childtextboxpadded">Back home</a>


    {% include "./dreamscripts.njk" %}

</div>

    </footer>



    


    