 

 <div class="parentboxcenter">

    <div class="headstyle">
    
  
      

       <button onclick="gotoprevindex({{ index }})">Prev dream</button>
       <button onclick="gotonextindex({{ index }})">Next dream</button>

       <button onclick="randomdream()">random dream</button>

   
   </div>
   </div>
   