



{% if hello==NULL %}

<footer>

    <br><br>
    <div class="parentboxcenter">


    <a href="feed.xml" class="childtextboxpadded">
        <img src="./resources/images/RSS_Logo.png" alt="RSS Feed" style="width: 20px; height: 20px"> 
    </a>

    <a href="#top" class="childtextboxpadded">Back to top</a>


    {% include "./scripts.njk" %}

</div>

    </footer>


    
    {% endif %}






{% if hello==2 %}

<footer>

    <br><br>
    <div class="parentboxcenter">




    {% include "./scripts.njk" %}

</div>

    </footer>



{% endif %}