



{% if hello==NULL %}

<footer>

    <br><br>
    <div class="parentboxcenter">



{% if not site.censor1 %}
    <a href="feed.xml" class="childtextboxpadded">
        <img src="./resources/images/RSS_Logo.png" alt="RSS Feed" style="width: 20px; height: 20px"> 
    </a>
{% endif %}




{% if site.censor1 %}

    <a href="c1feed.xml" class="childtextboxpadded">
        <img src="./resources/images/RSS_Logo.png" alt="RSS Feed" style="width: 20px; height: 20px"> 
    </a>


{% endif %}




    <a href="index.html" class="childtextboxpadded">Back home</a>


    {% include "./scripts.njk" %}

</div>

    <a id="bottomm"></a>


    </footer>


    
    {% endif %}






{% if hello==2 %}

<footer>

    <br><br>
    <div class="parentboxcenter">




    {% include "./scripts.njk" %}

</div>

    </footer>



{% endif %}