

{% if supoption==1 %}


<a id="top"></a>

<div class="headstyle">

    <header>

  

      <div>
        <a href="about.html" class="checkerclass">about</a>
         <a href="music.html" class="checkerclass">music</a>
          <a href="blog.html" class="checkerclass">blog</a> 
           <a href="dreamlog.html" class="checkerclass">dream log</a>
           <a href="photos.html" class="checkerclass">photos</a>
            <a href="neighborhood.html" class="checkerclass">neighborhood</a>
            <a href="dogshit.html" class="checkerclass">dogshit</a>
            <a href="https://users3.smartgb.com/g/g.php?a=s&i=g36-38132-85" class="checkerclass">guestbook</a>

      </div>


      <div>
          <a href="index.html" class="checkerclass">home</a>
       <a href="drawings.html" class="checkerclass">art</a>
       <a href="wikifun.html" class="checkerclass">wikifun!</a>
       <a href="journal.html" class="checkerclass">journal</a>
       <a href="resources.html" class="checkerclass">resources</a>
        <a href="todo.html" class="checkerclass">☻todo☻</a>
         <a href="contact.html" class="checkerclass">socials-contact</a>

      </div>

  <div>
     autoplay enabled:
    <input type="checkbox" id="autoplay" name="autoplayy" value="autoplayyy" onChange="toggleaudio()">
  </div>


    </header>
  </div>

  <div id="overlay" class="overlay" onclick="overlayoff()"> 

  </div>

  {% endif %}








  {% if supoption==null %}



<div class="headstyle">

    <header>
      <div>
       <a href="about.html">about</a>
       <a href="index.html">home</a>
       <a href="music.html">music</a>
       <a href="drawings.html">art</a>
       <a href="blog.html">blog</a> 
       <a href="wikifun.html">wikifun!</a>
       <a href="dreamlog.html">dream log</a>
       <a href="journal.html">journal</a>
       <a href="photos.html">photos</a>
       <a href="resources.html">resources</a>
       <a href="neighborhood.html">neighborhood</a>
       <a href="todo.html">☻todo☻</a>
       <a href="dogshit.html">dogshit</a>
       <a href="contact.html">socials-contact</a>
       <a href="https://users3.smartgb.com/g/g.php?a=s&amp;i=g36-38132-85">guestbook</a>
      




    autoplay enabled:
    <input type="checkbox" id="autoplay" name="autoplayy" value="autoplayyy" onchange="toggleaudio()">

      </div>

    </header>
  </div>






   {% endif %}