
<a id="top"></a>

<div class="headstyle">

    <header >
      <div>
       <a href="about.html">about</a>
       <a href="index.html">home</a>
       <a href="music.html">music</a>
       <a href="drawings.html">art</a>
       <a href="blog.html">blog</a> 
       <a href="wikifun.html">wikifun!</a>
       <a href="dreamlog.html">dream log</a>
       <a href="journal.html">journal</a>
       <a href="photos.html">photos</a>
       <a href="resources.html">resources</a>
       <a href="neighborhood.html">neighborhood</a>
       <a href="todo.html">☻todo☻</a>
       <a href="dogshit.html">dogshit</a>
       <a href="contact.html">socials-contact</a>
       <a href="https://users3.smartgb.com/g/g.php?a=s&i=g36-38132-85">guestbook</a>
      




    autoplay enabled:
    <input type="checkbox" id="autoplay" name="autoplayy" value="autoplayyy" onChange="toggleaudio()">

      </div>

    </header>
  </div>`