---
title: New song
date: "2025-09-12"
description: "recorded a cover of the salamizer by gwar its alright"
tags: 
- dreampost

image: "../resources/images/onge.png"


---



<!-- make the redirect into the page rss should link to. -->


<!doctype html>
<html lang="en">

<!doctype html>
<html lang="en">
  <head>
    {% include "partials/headhead.njk" %}

    <meta http-equiv="refresh" content="0; url=../music.html">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    

    <style>


      

      body {
          background-image: url('../resources/backgrounds/blandassrussiahellscape.jpg');
      
          background-attachment: fixed;
          background-size: cover;
        }






    </style>


<link rel="stylesheet" href="../resources/progresources/globalcss.css">






</head>




  

<body>


  {% include "partials/dreamheader.njk" %}



  {% include "partials/dreamaudio.njk" %}




<h1>project 01</h1>

  <div class="parentboxcenter">
  
    <div class="childtextbox">
    <p class="betterp">


</p>
  </div>
 </div>   





 {% assign index = 3 %}
 {% assign goption = 1 %}



 {% include "partials/dreamfooter.njk" %}

 

</body>
</html>